<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='paymentStyle.css')}}">

    <title>Latecomer Payment</title>
</head>

<body>
    <header>
        <img src="{{url_for('static', filename='LOGO.jpg')}}" alt="NIESAT Logo" width="80" height="80" />
        <h1> Late Sign-In</h1>
    </header>
    <main>
        <div class="payment-container">
            <div class="payment-header">
                <h1>Payment Required</h1>
                <div class="payment-header-compact">
                    <p style="color: red;">{{ statecode }}, you have signed in late!</p>
                    <p>
                        Please pay the lateness fee to the account below and confirm with the treasurer.
                    </p>
                    <p>OR</p>
                    <p>Pay in cash directly to the treasurer.</p>
                </div>
            </div>

            <div class="payment-details">
                <div class="payment-info">
                    <h3>Account Details</h3>

                    <p class="info-label">BANK NAME</p>
                    <p class="info-value">Paystack-Titan</p> <!--{{ bankname }}-->

                    <p class="info-label">ACCOUNT NUMBER</p>
                    <div class="copy-container">
                        <p class="info-value" id="account-number">9987311188</p> <!--{{ acctnumber }}-->
                        <button class="copy-button" onclick="copyToClipboard('account-number')">
                            <!-- <span>Copy</span> -->
                            <!-- <img src="https://img.icons8.com/material-outlined/24/000000/copy.png" alt="Copy Icon"> -->
                            <!-- <img src="https://img.icons8.com/?size=20&id=kDASkyyiNQDJ&format=png&color=000000" alt="Copy Icon"> -->
                            <img src="https://img.icons8.com/?size=20&id=LHOx46m7R9rG&format=png&color=000000"
                                alt="Copy Icon">
                        </button>
                    </div>

                    <p class="info-label">AMOUNT</p>
                    <div class="copy-container">
                        <p class="info-value">NGN <span id="amount">{{ amount }}</span></p>
                        <button class="copy-button" id="amt_btn" onclick="copyToClipboard('amount')">
                            <img src="https://img.icons8.com/?size=20&id=LHOx46m7R9rG&format=png&color=000000"
                                alt="Copy Icon">
                        </button>
                    </div>

                    <br>
                </div>
            </div>
            <div class="info-note">
                <h2>Status: <span id="status"> </span></h2>
                <p>Waiting for confirmation from the treasurer...</p>
                <p><i><span style="color:red">*</span> Your attendance will not be registered until payment is approved
                        by the Treasurer.</i></p>
            </div>
            <!-- Notification popup -->
            <div id="popup-notification" class="popup-notification">Text copied!</div>
        </div>
    </main>


    <script>
        // Poll the server every 3 seconds to check if the status has changed to "Approved"
        async function fetchData() {
            var status_show = document.getElementById("status");
            const response = await fetch("{{ url_for('check_status', statecode=statecode) }}");
            const status = await response.text();
            if (status === "Approved") {
                status_show.innerHTML = "Approved";
                status_show.style.color = '#4CAF50';
                setTimeout(function () {
                    // Create a form dynamically
                    const form = document.createElement("form");
                    form.method = "POST";
                    form.action = "{{ url_for('late_reg') }}";  // Flask route URL

                    // Add hidden input fields for each parameter
                    const params = {
                        fname: "{{ fname }}",
                        mname: "{{ mname }}",
                        sname: "{{ sname }}",
                        statecode: "{{ statecode }}",
                        signInTime: "{{ signInTime }}",
                        signInTD: "{{ signInTD }}",
                        client_ip: "{{ client_ip }}"
                    };

                    // Iterate through the params and add to form
                    for (const [key, value] of Object.entries(params)) {
                        const hiddenField = document.createElement("input");
                        hiddenField.type = "hidden";
                        hiddenField.name = key;
                        hiddenField.value = value;
                        form.appendChild(hiddenField);
                    }

                    // Append the form to the body and submit
                    document.body.appendChild(form);
                    form.submit();

                }, 3000);  // Redirect after a short delay
            }
            else {
                status_show.innerHTML = "Pending";
                status_show.style.color = '#FFBF00';
            }
            setTimeout(fetchData, 3000); // Call itself after a delay
        };  // Check every 3 seconds
        fetchData();
    </script>

    <script>
        // Copy to clipboard function
        number = document.getElementById('account-number').innerHTML
        console.log(number)
        amount = document.getElementById('amount').innerHTML
        console.log(amount)

        function copyToClipboard(elementId) {
            const text = document.getElementById(elementId).textContent;
            console.log(text)
            if (navigator.clipboard && navigator.clipboard.writeText) {
                navigator.clipboard.writeText(text).then(() => {
                    showPopup("Copied ✅");
                }).catch(err => {
                    console.error("Failed to copy text: ", err);
                });
            }
            else {
                // TO HANDLE COPYING TO CLIPBOARD INCASE PAGE ISN'T SECURE
                // Create a temporary <textarea> element
                const textarea = document.createElement('textarea');
                textarea.value = text;
                document.body.appendChild(textarea);

                // Select the text in the textarea and execute the copy command
                textarea.select();
                textarea.setSelectionRange(0, text.length); // For mobile compatibility

                try {
                    document.execCommand('copy');
                    //showPopup("Copied: " + text + " \u2713");
                    showPopup("Copied ✅");
                } catch (err) {
                    console.error('Fallback error copying text: ', err);
                }

                // Remove the temporary textarea element
                document.body.removeChild(textarea);
            }
        }

        function showPopup(message) {
            const popup = document.getElementById("popup-notification");
            popup.textContent = message;
            popup.classList.add("show");

            // Remove the popup after 2 seconds
            setTimeout(() => {
                popup.classList.remove("show");
            }, 2000);
        }
    </script>
</body>

</html>